body{
    background-color: gray;
}

p{
    display: inline;
}

img{
    height: 90vh;
}

.pics_over_control{
	position: relative;
	width: fit-content;
	height: fit-content;
}

.p_over_p{
	position: absolute;
	width: 49%;
	height: 90vh;
	left: 0px;
	top: 0px;
}

.p_over_n{	
	position: absolute;
	width: 49%;
	height: 90vh;
	right: 0px;
	top: 0px;
}

.texts{
	color: #ffffff;
}

#txt-h:checked ~ .texts{
	color: #ffffff;
}

#txt-v:checked ~ .texts{
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
}